In [1]:
import pickle
import pandas as pd

In [2]:
df = pd.read_csv('clean_features.csv')

In [3]:
df.shape

(1200, 22)

In [4]:
df['Churn.Status'][:5]

0    0
1    0
2    0
3    1
4    0
Name: Churn.Status, dtype: int64

In [5]:
df.head(2)

,Months.customer,Minutes.in.2018,Number.of.SMS,KBs.used,Total.Unique.Calls,Churn.Status,Customer.Age,LoginsSite.Last.6Months,EndSubscription,Total.Call.centre.complaint.calls,...,Province_Friesland,Province_Gelderland,Province_Groningen,Province_Limburg,Province_Noord-Brabant,Province_Noord-Holland,Province_Overijssel,Province_Utrecht,Province_Zeeland,Province_Zuid-Holland
0,126.83,4091.616,81,3624.3750,117,0,44,11,5,2,...,0,0,0,0,0,0,0,1,0,0
1,96.83,3179.280,101,551842.8331,106,0,31,12,4,2,...,0,0,0,0,0,0,0,0,0,0

In [6]:
df=df.rename(index=str, columns={"Churn.Status": "churn"})

In [7]:
df.head()

,Months.customer,Minutes.in.2018,Number.of.SMS,KBs.used,Total.Unique.Calls,churn,Customer.Age,LoginsSite.Last.6Months,EndSubscription,Total.Call.centre.complaint.calls,...,Province_Friesland,Province_Gelderland,Province_Groningen,Province_Limburg,Province_Noord-Brabant,Province_Noord-Holland,Province_Overijssel,Province_Utrecht,Province_Zeeland,Province_Zuid-Holland
0,126.83,4091.6160,81,3.624375e+03,117,0,44,11,5,2,...,0,0,0,0,0,0,0,1,0,0
1,96.83,3179.2800,101,5.518428e+05,106,0,31,12,4,2,...,0,0,0,0,0,0,0,0,0,0
2,127.30,7233.1824,79,2.128473e+06,94,0,35,8,5,3,...,0,0,0,0,1,0,0,0,0,0
3,121.43,7336.1760,121,2.180738e+04,450,1,54,14,3,1,...,0,0,0,0,0,1,0,0,0,0
4,126.97,5390.9400,16,4.648857e+05,308,0,53,9,3,2,...,0,0,0,0,1,0,0,0,0,0

In [8]:
df.churn.value_counts()

0    609
1    591
Name: churn, dtype: int64

In [9]:
df["churn"] = df.churn.map({ 0 :"loyal", 1 :"churn"})

In [10]:
df.shape

(1200, 22)

In [11]:
df.churn.head()

0    loyal
1    loyal
2    loyal
3    churn
4    loyal
Name: churn, dtype: object

In [13]:
df.churn.value_counts()

loyal    609
churn    591
Name: churn, dtype: int64

In [14]:
df.shape

(1200, 22)

In [15]:
df.to_pickle('keras_made.pkl')